body {
    background-color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 2px solid;
    padding: 10px;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    padding: 40px;
    text-align: left;
}

aside {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

section {
    
}

article {
    padding: 10px;
}

footer {
    position: absolute;
    padding:25px;
    color: lightgrey;
}